on init
    symlink /dev/block/bootdevice/by-name/param /dev/block/param
    symlink /dev/block/bootdevice/by-name/persistent  /dev/block/persistent
    symlink /dev/block/bootdevice/by-name/steady  /dev/block/steady
